<h1>Welcome to Lightbulb!</h1>
    <form action="/users/sign_up" action="/users/sign_in" >
        <input type="submit" value="Sign Up">
    </form>
        Or
    <form action="/users/sign_in" >
        <input type="submit" value="Log In">
    </form>

