<% unless @note.blank? %>

<%= hidden_field_tag :markdown, @note.markdown %>


<div id="compiled" class="markdown">


<p>This note was created using the <%= link_to 'LightBulb', root_path, class: 'landingpage' %></p>
</div>
<% else %>
    <h1>This note has been unshared or doesn't exist.</h1>
<% end %>


