<% unless @note.blank? %>

<%= hidden_field_tag :markdown, @note.markdown %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<div id="compiled" class="markdown">
</div>
<p>This note was created using the Lightbulb Markdown Editor. <br>
If you would like to create your own markdown please visit 
<%= link_to "Lightbulb.io", root_path %>
</p>

<% else %>
    <h1>This note has been unshared or doesn't exist.</h1>
<% end %>


