<% unless @note.blank? %>

<%= hidden_field_tag :markdown, @note.markdown %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


<div id="compiled" class="markdown">
</div>

<% else %>
    <h1>This note has been unshared or doesn't exist.</h1>
<% end %>


