<%
  topscore = topscore.to_d
  myscore = tag.taggings_count.to_d
  ratio = (myscore**5 / topscore**5)#(myscore**highscore / highscore) / (highscore**highscore / highscore)
  saturation = (ratio) * 10 + 70
  lightness = (1 - ratio) * 50 + 20
  whiteText = "color:white;" unless lightness >= 70
%>
<a href="#" class="tag" style="color:white;background:hsl(220, <%= saturation %>%, <%= lightness %>%)" data-taggings-count="<%= myscore.to_i %>"><%= tag.name %></a>
