// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$columnWidth: 500px;

.tag {
  display: inline-block;
  border: 1px solid gray;
  padding: 5px;
  margin: 6px 0;
  border-radius: 4px;
  text-decoration: none;
  position:relative;
  &:hover{//:after{
    background:white !important;
    color:#555 !important;
    // top:0;
    // left:0;
    // position:absolute;
    // content:'';
    // display:inline-block;
    // width:100%;
    // height:100%;
    // background: hsla(0,0%,100%,.2);
  }
}

#tag_list, #note_list{
  width: $columnWidth;
  border-collapse:collapse;
}

#note_list {
  & th, th{
    text-align: left;
  }
}

#tag_list {
  text-align: justify;
}

