div {&.markdown{
    display: inline-block;
    vertical-align: top;
 }
}

#compiled{
    height: 150px;
    width: 500px;
}

textarea#note_markdown {
  display: inline-block;
  width: 500px;
  height: 150px;
}