@mixin meta {
    color:hsl(0,0%,50%);
    font-size:12px;
}

.field {
    & .meta, .meta a {
        @include meta;
    }
}

#compiled{
    height: 150px;
    width: 500px;
}

div {&.markdown{
    display: inline-block;
    vertical-align: top;
 }
}

input#note_title {
  width: 500px;
}

input#note_tag_list {
  width: 500px;
}

textarea#note_markdown {
  display: inline-block;
  width: 500px;
  height: 150px;
}

.titleTable{
    padding-right: 25px;
    padding-left: 25px;
}
